@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    width: calc(100% - 40px);
    max-width: 1200px;
    text-align: center;
    margin: auto;
    /* background-color: pink; */
}

header{
    /* background-color: aqua; */
    padding: 30px 0;
}

header .container{
    justify-content: space-between;
    display: flex;
}


header .left{
    /* background-color: blue; */
    display: flex;
}

.left li{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.left li a{
    color: #222;
    transition: .4s;
}

.left li a:hover{
    color: #09A66D;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right button,
.right a{
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 40px;
    align-items: center;
    border: none;
}

.right a{
    display: flex;
    background-color: #09A66D;
    justify-content: center;
    width: 160px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
    border-radius: 16px;
}

.right a:hover{
    background-color: #f3fbf8;
    color: #09A66D;
}


.right button{
    background-color: #f3fbf8;
    border-radius: 500px;
}

.left li a{
    text-decoration: none;
}

.search{
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("Search.svg");
    transition: .9s;
}

.search:hover{
    transform: rotate(-280deg);
}

.bag{
    background-repeat: no-repeat;
    background-position: center;
    transition: .4s;
    cursor: pointer;
    background-image: url("Buy.svg");    
}

.bag:hover{
    background-position: 300% center;
}

.info{
    position: relative;
    background-color: #F3FBF8;
}

.info .container{
    position: relative;
}

.info .container h1{
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
}

.titleText{
    margin-bottom: 30px;
    padding-top: 60px;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}

.order{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .order p{
    display: block;
    width: auto;
    margin: 0;
    padding-top: 0;
    margin-right: 30px;
}

.strelka{
    display: block;
    background-image: url("strelka.svg");
    width: 64px;
    border-radius: 2000px;
    height: 64px;
    background-color: #09A66D;
}

.card-header{
    /* background-color: #222; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px;
}

.card-header .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
.info .container .card{
    background-color: #fff;
}

#lists{
    position: absolute;
    top: 0;
    right: 0;

}

#fructs{
    object-fit: contain;
}
.hero{
    display: flex;
    align-items: flex-end;
}

.about{
    background-image: url("izvilina.svg");
}

.about .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about .container h1,
.explore h1{
    text-align: left;
    color: #222;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Merriweather', sans-serif;
}

.about .container .desc{
    text-align: left;
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.about{
    padding: 70px 0;
}

.service-card{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.service-left h1,
.explore h1{
    text-shadow: 0px 1px 3px black;
}

.explore h1{
    margin: 60px;
}

.service-card .opisanie{
    margin-left: 15px;
}

.explore{
    background-color: rgba(9, 166, 109, 0.05);
}

.explore .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.explore .container .right_explore h2{
    color: #222222;
    font-size: 50px;
    text-align: left;
    margin: 70px 0 70px 70px;
}

.explore .container .right_bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.explore .container #lists-explorer{
    position: absolute;
    width: 30%;
    right: 0;
}

.explore p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 60px;
    margin-right: 20px;
}

.explore .order{
    margin-top: 60px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #FCFEFD;
    width: 100%;
    margin-top: 120px;
}

footer .container{
    display: flex;
    color: #222;
    align-items: center;
    gap: 120px;
    justify-content: space-between;
    padding: 30px 0;
}

footer .container .left{
    width: 35%;
}

footer .container .left img{
    margin-bottom: 30px;
    display: block;
}

footer .container .left p{
    text-align: left;
}

footer .container .centerOne ul li,
footer .container .centerTwo ul li{
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
}

footer .container .centerOne ul li a,
footer .container .centerTwo ul li a{
    text-decoration: none;
    color: #555555;
}

footer .container .right{
    width: 35%;
    display: block;
    text-align: left;
}

footer .container .right .social{
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

footer .container .right .social a{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #F3FBF8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
}